<h2>Import Histories <%= "for #{@survey.name}" if @survey%></h2>

<table class="import_histories">
  <tr>
		<th>ID</th>
		<th>Import Time</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @import_histories.each do |import_history| %>
  <tr class="import_history <%= import_history.status.downcase %>">
    <td><%= import_history.survey_response_id %></td>
   	<td><%=time import_history.created_at %></td>

    <td><%= import_history.status %></td>
    <td><%= link_to 'Show', import_history %></td>
    <td><%= link_to 'Destroy', import_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>