<%= title "Import Histories #{("for " + @survey.name) if defined?(@survey)}", true %>
<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/themes/redmond/jquery-ui.css", "application" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
                           "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js", "application" %>
<script type="text/javascript" src="/javascripts/jquery.validate.js"></script>
<script type="text/javascript">

document.observe("dom:loaded", function() {
		listenDeleteSelected();
})

function listenDeleteSelected()
{
	$$('input.delete_selected').each(function(delete_selected){
		$(delete_selected).observe("click", function(event){
			if(confirm('Are you sure you want to delete the selected history data?'))
			{
				var form = $(delete_selected).form
				form.action = '/import_histories/destroy_selected'
				var m = document.createElement('input');
		    m.setAttribute('type', 'hidden');
		    m.setAttribute('name', '_method');
		    m.setAttribute('value', 'delete');
		    form.appendChild(m);
			}
			else
			{
				Event.stop(event);
			}
		})
	})
}
</script>

<script language="javascript">
    var j$=jQuery.noConflict();
    j$(document).ready(function() {
		listenDeleteSelected();
		j$('#start_date').datepicker({dateFormat: 'yy-mm-dd'});
        j$('#end_date').datepicker({dateFormat: 'yy-mm-dd'});
        j$('#start_date').datepicker('setDate', getParameterByName('start_date'));
        j$('#end_date').datepicker('setDate', getParameterByName('end_date'));
		j$("#filter_form").validate({
			rules: 
			{ 'start_date': { formatDate: true },
			  'end_date': { formatDate: true,
							greaterThan: "#start_date"
						  } 
			},
			errorPlacement: function(error, element) {
		    
		 	if (element.attr("name") == "start_date")
			{
				error.insertAfter("#start_date_error");
			}
			else if (element.attr("name") == "end_date")
			{
				error.insertAfter("#end_date_error");
			}
			else 
			   error.insertAfter(element);
	}});
	
		j$.validator.addMethod(
			"formatDate",
			function(value, element) {
				if (value == "")  return true; 
		        return value.match(/^\d\d\d\d?\-\d\d?\-\d\d$/);
		    },
		    "Format yyyy-mm-dd"
		);
		j$.validator.addMethod("greaterThan", function(value, element, params) {
				element_id=params;
				if (value == "")  return true; 
		        if (!/Invalid|NaN/.test(new Date(value))) {
		            return new Date(value) >= new Date(j$(element_id).val());
		        }
	
		        return isNaN(value) && isNaN($(element_id).val()) || (parseFloat(value) > parseFloat(j$(element_id).val())); 
		
		    },'Must be greater than start date');
    });
</script>

<%= form_tag("", :method => "get", :id => "filter_form") do %>

<table><tr>
	<td>Status:</td>
	<td><%= select_tag(:status,options_for_select(['All', 'Success', 'Failed'], params[:status])) %></td>
	<td>Date Range:</td>
	<td><%= text_field_tag("start_date") %></td>
	<td><%= text_field_tag("end_date") %></td>
	<td><%= submit_tag("Filter") %></td>
</tr><tr>
		<td></td>
		<td></td>
		<td></td>
		<td><div id="start_date_error"/></td>
		<td><div id="end_date_error"/></td>
		<td></td>
	</tr>
</table>
	<div><span style="display:block;margin-left:195px;" id="start_date_error"></span>
	<span style="margin-left:22px;" id="end_date_error"></span>
</div>
<% end %>

<%= form_tag do %>

<%= render :partial => 'select_and_delete' %>
<table class="import_histories">
  <tr>
    <% unless defined?(@survey) %>
        <th>Survey</th>
    <% end %>
    <th>ID</th>
    <th>Import Time</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

  <% @import_histories.each do |import_history| %>
      <tr class="import_history <%= import_history.status.downcase %>">
		
		<td><div class="import_history_div"><%= check_box_tag 'import_history_ids[]', import_history.id %>
  		<% unless defined?(@survey) %>
            <%= import_history.survey.name %>
        <% end %>
		</td>
		
        <td><%= import_history.survey_response_id %></td>
        <td><%= time import_history.created_at %></td>

        <td><%= import_history.status %></td>
        <td><%= link_to 'Show', import_history %></td>
      </tr>
  <% end %>
</table>
<%= render :partial => 'select_and_delete' %>
<% end %>