<p id="notice"><%= notice %></p>

<p>
  <b>Survey:</b>
  <%= @import_history.survey.name %>
</p>

<p>
  <b>Survey response:</b>
  <%= @import_history.survey_response_id %>
</p>

<p>
  <b>Imported at:</b>
  <%= @import_history.created_at %>
</p>

<p>
  <b>Errors:</b>
  <%= @import_history.error_message %>
</p>

<%= link_to 'Back', survey_import_histories_path(@import_history.survey) %>