<script type="text/javascript">
	document.observe("dom:loaded", function() {
		listenIsLookupClick();
		showHideBasedOnLookup();
	})
	
	function listenIsLookupClick(){
		$$("input.is_lookup").each(function(is_lookup){
				$(is_lookup).observe("click", function(event){
					displayLookupOrQuestion(this);
				});
		});
	}
	
	function displayLookupOrQuestion(is_lookup){
		var field_mapping = $(is_lookup).ancestors().first().ancestors().first();
		var question_name = field_mapping.select("div.question_name").first();
		var lookup_object_name = field_mapping.select("div.lookup_object_name").first();
		var lookup_condition = field_mapping.select("div.lookup_condition").first();
		
		display(question_name, !is_lookup.checked);
		display(lookup_object_name, is_lookup.checked);
		display(lookup_condition, is_lookup.checked);
	}
	
	function showHideBasedOnLookup(){
		$$("input.is_lookup").each(function(is_lookup){
			displayLookupOrQuestion(is_lookup);
		});
	}
	
	function display(ctrl, should_display) {
		should_display ? $(ctrl).show() : $(ctrl).hide();
	}
</script>

<%= title "Mapping between #{@object_mapping.survey.name} and #{@object_mapping.sf_object_type}", true %>

<% questions_for_select = @questions.collect{|question| [truncate(question.prompt, :length => 40), question.name]}%>


<%= form_for @object_mapping do |object_mapping_form| %>
	<div class="field_mapping_form">
		<div class="field_mappings">	
			<div class="field_mapping_header">
				<div class="field_name"><h3>Field Name</h3></div>
				<div class="is_lookup"><h3>Lookup?</h3></div>	
				<div class="question_name">&nbsp;</div>
				<div class="clear"></div>
			</div>		
			
	  <%= object_mapping_form.fields_for :field_mappings do |field_mapping_form| %>
			<div class="field_mapping">
				<div class="field_name">
					<%= field_mapping_form.hidden_field :id %> 
					<%= field_mapping_form.hidden_field :field_name %> 
					<%= field_mapping_form.object.field_name %> 
				</div>
				<div class="is_lookup">	
					<%= field_mapping_form.check_box :is_lookup, :class => 'is_lookup' %>
				</div>
				<div class="question_name">	
					<%= field_mapping_form.select :question_name, questions_for_select, :include_blank => 'Please select a question' %>
				</div>
				<div class="lookup_object_name">	
						<%= field_mapping_form.select :lookup_object_name, @salesforce_objects.collect{|an_object| [an_object.label, an_object.name]}, :include_blank => 'Please select an Object' %>
				</div>

				<div class="lookup_condition">	
					Condition: <%= field_mapping_form.text_field :lookup_condition, :size => 50 %>
				</div>

				<div class="clear"></div>
			</div>
	  <% end %>
		</div>
		<div class="actions">
			<%= link_to 'Back to List', survey_mappings_path(@object_mapping.survey) %>
			<%= object_mapping_form.submit %>			
		</div>
	</div>
<% end %>

