<h2>New Mappings for <%= @object_mapping.survey.name %> to <%= @object_mapping.sf_object_type %> </h2>

<% questions_for_select = @questions.collect{|question| [question.prompt, question.name]}%>

<div class="field_mapping">
	<div class="field_name heading">
		<%= @object_mapping.sf_object_type %> Field Name
	</div>
	<div class="question_name heading">	
		<%= @object_mapping.survey.name %> Question
	</div>
	<div class="clear"></div>
</div>

<%= form_for @object_mapping do |object_mapping_form| %>

  <%= object_mapping_form.fields_for :field_mappings do |field_mapping_form| %>
	<div class="field_mappings">	
		<div class="field_mapping">
			<div class="field_name">
				<%= field_mapping_form.hidden_field :id %> 
				<%= field_mapping_form.hidden_field :field_name %> 
				<%= field_mapping_form.object.field_name %> 
			</div>
			<div class="question_name">	
				<%= field_mapping_form.select :question_name, questions_for_select, :prompt => true %>
			</div>
			<div class="clear"></div>
		</div>
	</div>
  <% end %>

	<div class="actions">
		<%= object_mapping_form.submit %>
	</div>
	
<% end %>

