<script type="text/javascript">
	document.observe("dom:loaded", function() {
		showHideBasedOnLookupType();
		listenToLookupTypeChange();
		hideHelp();
		listenToHelpChange();
	})
	
	function listenToLookupTypeChange(){
		$$("select.lookup_type").each(function(lookup_type){
				$(lookup_type).observe("change", function(event){
					displayForLookupType(this);
				});
		});
	}
	
	function displayForLookupType(lookup_type_select){
		
		var field_mapping = $(lookup_type_select).ancestors().first().ancestors().first();
		var question_name = field_mapping.select("div.question_name").first();
		var lookup_object_name = field_mapping.select("div.lookup_object_name").first();
		var lookup_condition = field_mapping.select("div.lookup_condition").first();
		var lookup_value = field_mapping.select("div.lookup_value").first();
		
		var lookup_type = lookup_type_select.value;
		
		display(question_name, lookup_type == '<%= FieldMapping::QUESTION %>');
		display(lookup_object_name, lookup_type == '<%= FieldMapping::LOOKUP %>' );
		display(lookup_condition, lookup_type == '<%= FieldMapping::LOOKUP %>');
		display(lookup_value, lookup_type == '<%= FieldMapping::PREDEFINED_VALUE %>');		
	}
	
	function showHideBasedOnLookupType(){
		$$("select.lookup_type").each(function(lookup_type){
			displayForLookupType(lookup_type);
		});
	}
	
	function display(ctrl, should_display) {
		if(should_display)
		{
			$(ctrl).show();
		}
		else
		{
			$(ctrl).hide();
			$(ctrl).value = '';
		}
	}
	
	function	hideHelp(){
		showHideHelp();
	}
	
	function listenToHelpChange(){
		object_select = $("selected_object");
		object_select.observe("change", function(event){
			var salesforce_fields = $('salesforce_fields')
			
			if(object_select.value == ''){
				salesforce_fields.innerHTML = '';
				return;
			}

			salesforce_fields.innerHTML = "Loading fields...";
			
			new Ajax.Request('/salesforce_objects/'+ object_select.value + '.json', {
			  method: 'get',
			  onSuccess: function(transport) {
					salesforce_fields.innerHTML = transport.responseJSON.collect(function(field) {
						return field.name}).join(", ")
			  	}
			});
			
		})
		
	}
</script>

<%= title "Mapping between #{@object_mapping.survey.name} and #{@object_mapping.salesforce_object_name}", true %>

<%= render :partial => 'help' %>

<div class="unmapped_fields">
  <b>Unmapped Questions:</b> <%= select_tag("unmapped_questions", options_for_select(@unmapped_questions)) %>
</div>

<%= form_for @object_mapping do |object_mapping_form| %>
	<div class="field_mapping_form">
		<div class="field_mappings">
			<div class="field_mapping_header">
				<div class="field_name"><h3>Field Name</h3></div>
				<div class="lookup_type"><h3>Lookup Type</h3></div>
				<div class="question_name">&nbsp;</div>
				<div class="clear"></div>
			</div>

	  <%= object_mapping_form.fields_for :field_mappings do |field_mapping_form| %>
			<div class="field_mapping">
				<div class="field_name">
					<%= field_mapping_form.hidden_field :id %>
					<%= field_mapping_form.hidden_field :field_name %>
					<%= field_mapping_form.object.field_name %>
				</div>
				<div class="lookup_type">
					<%= field_mapping_form.select :lookup_type, FieldMapping.lookup_types, {}, :class=> 'lookup_type' %>
				</div>
				<div class="question_name">
					<%= field_mapping_form.select :question_name, @questions_for_select, :include_blank => 'Please select a question' %>
				</div>
				<div class="lookup_object_name">
						<%= field_mapping_form.select :lookup_object_name, @salesforce_objects.collect{|an_object| [an_object.label, an_object.name]}, :include_blank => 'Please select an Object' %>
				</div>

				<div class="lookup_condition">
					Condition: <%= field_mapping_form.text_field :lookup_condition, :size => 50 %>
				</div>

				<div class="lookup_value">
					Predefined Value: <%= field_mapping_form.text_field :predefined_value, :size => 50 %>
				</div>

				<div class="clear"></div>
			</div>
	  <% end %>
		</div>
		<div class="actions">
			<%= link_to 'Back to List', survey_mappings_path(@object_mapping.survey) %>
			<%= object_mapping_form.submit %>
		</div>
	</div>
<% end %>

