<h2>Surveys</h2>

<%= link_to 'Sync with EpiSurveyor', sync_with_epi_surveyor_surveys_path, :method => :post %>

<ol>
<% @surveys.sort_by{|survey| survey.name}.each do |survey|%>
	<li>
		<div class="survey">
			<div class="survey_name">
				<%= survey.name %> 
			</div>
			<div class="actions">
				<%= link_to 'Import', import_survey_path(survey.id, :survey_name => survey.name), :method => :post %>
				<%= link_to 'Mappings', survey_mappings_path(survey.id) %>
				<%= link_to 'History', survey_import_histories_path(survey.id) %>
				<%= link_to 'Questions', survey_questions_path(survey.id) %>
			</div>
			<div class="clear"></div>
		</div>
	</li>
<%end%>
</ol>