<script type="text/javascript">

document.observe("dom:loaded", function() {
		listenImportSelected();
		listenDeleteSelected();
})

function listenImportSelected()
{
	$$('input.import_selected').each(function(import_selected){
		$(import_selected).observe("click", function(){
			$(import_selected).form.action = '/surveys/import_selected'
		})
	})
}

function listenDeleteSelected()
{
	$$('input.delete_selected').each(function(delete_selected){
		$(delete_selected).observe("click", function(event){
			if(confirm('Are you sure you want to delete the selected surveys will all their data?'))
			{
				var form = $(delete_selected).form
				form.action = '/surveys/destroy_selected'
				var m = document.createElement('input');
		    m.setAttribute('type', 'hidden');
		    m.setAttribute('name', '_method');
		    m.setAttribute('value', 'delete');
		    form.appendChild(m);
			}
			else
			{
				Event.stop(event);
			}
		})
	})
}
</script>

<% title 'Surveys' %>



<% content_for :middle_right do %>
	<div class="search_form">
		<%= form_tag search_surveys_path, :method => :get do %>
			<input type="search" name="query" value="<%= params[:query] %>" placeholder="Search Survey" size="20"/>
			<%= submit_tag 'Search' %>
		<% end %>
	</div>
<% end %>


<%= form_tag  do %>

	<%= render :partial => 'select_and_import' %>
	
	<span class="sync_with_epi_surveyor">
		<%= link_to 'Refresh Surveys List from EpiSurveyor', sync_with_epi_surveyor_surveys_path, :method => :post %>
	</span>
	
	<ol class="surveys">
	<% @surveys.sort_by{|survey| survey.name}.each do |survey|%>
		<li>
			<div class="survey">
				<div class="survey_name">
					<%= check_box_tag 'survey_ids[]', survey.id %>
					<span><%= survey.name %></span> | 
					<%= "Imported #{distance_of_time_in_words(Time.now, survey.last_imported_at)} ago" if survey.last_imported_at%> | 
					<span class="survey_last_modified"><%= "Mapping changed #{distance_of_time_in_words(Time.now, survey.mapping_last_modified_at)} ago" if survey.mapping_last_modified_at%></span>
				</div>
				<div class="actions">					
					<%= link_to 'Mappings', survey_mappings_path(survey.id) %> |
					<%= link_to 'History', survey_import_histories_path(survey.id) %> |
					<%= link_to 'Questions', survey_questions_path(survey.id) %> |
					<%= link_to 'Notification', edit_survey_path(survey.id) %>
				</div>
				<div class="clear"></div>
			</div>
		</li>
	<%end%>
	</ol>
	<%= render :partial => 'select_and_import' %>
<% end %>