<%= title "Settings" %>

<% method = @configuration.new_record? ? :post : :put%>

<%= form_for @configuration, :url => admin_configuration_path, :method => method do |f|%>
	<div class="configuration_form">

	  <div class="field">
			<div class="label"><%= f.label :epi_surveyor_url %></div>
	    <div class="input"><%= f.text_field :epi_surveyor_url, :size => 60 %></div>
			<div class="clear"></div>
	  </div>

	  <div class="field">
	    <div class="label"><%= f.label :epi_surveyor_user %></div> 
	    <div class="input"><%= f.text_field :epi_surveyor_user, :size => 60 %></div>
			<div class="clear"></div>
	  </div>

	  <div class="field">
	    <div class="label"><%= f.label :epi_surveyor_token %></div>
	    <div class="input"><%= f.text_field :epi_surveyor_token, :size => 60 %></div>
			<div class="clear"></div>
	  </div>

	  <div class="field">
	    <div class="label"><%= f.label :salesforce_url %></div>
	    <div class="input"><%= f.text_field :salesforce_url, :size => 60 %></div>
			<div class="clear"></div>
	  </div>

	  <div class="field">
	    <div class="label"><%= f.label :salesforce_browse_url %></div>
	    <div class="input"><%= f.text_field :salesforce_browse_url, :size => 60 %></div>
			<div class="clear"></div>
	  </div>

	  <div class="field">
	    <div class="label"><%= f.label :salesforce_user %></div>
	    <div class="input"><%= f.text_field :salesforce_user, :size => 60 %></div>
			<div class="clear"></div>
	  </div>

	  <div class="field">
	    <div class="label"><%= f.label :salesforce_token %></div>
	    <div class="input"><%= f.text_field :salesforce_token, :size => 60 %></div>
			<div class="clear"></div>
	  </div>
	
	  <div class="actions">
	    <%=link_to 'Back to Home', root_path%>
			<%= f.submit %>
			
	  </div>
	
	</div>
<%end%>