<%= title "Listing mappings for #{@survey.name}", true %>

<%= render :partial => 'edit_links' %>

<ol class="object_mappings">
<% @survey.object_mappings.each do |object_mapping|%>
	<li class="object_mapping">
		<div class="object_name">
			<h3><%= object_mapping.sf_object_type %></h3>
		</div>
		
		<div>
			<ol class="field_mappings">
			<% object_mapping.field_mappings.each do |field_mapping| %>
				<li>
					<div class="field_mapping">
						<div class="mapping">
							<%= field_mapping.field_name %> - <%= field_mapping.question_name %> 
						</div>
						<div class="actions">
							<%= link_to 'Delete', field_mapping_path(field_mapping), 
							:confirm => "Are you sure you want to delete the mapping between #{field_mapping.field_name} and #{field_mapping.question_name}", :method => :delete%>
						</div>
						<div class="clear"></div>
					</div>
				</li>
			<%end%>
			</ol>
		</div>
	</li>
<%end%>
</ol>

<%= render :partial => 'edit_links' %>