<!DOCTYPE html>
<html>
	<head>
		<title>Camfed</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>

		<div class="banner">
			<%= image_tag 'logo.gif'%>
			<h1>Camfed Data Importer</h1>
		</div>

		<% if user_signed_in? %>
			<div class="menu">
				<% if current_user.verified_by_admin? %>
					<%= link_to 'Surveys', surveys_path %>
					<%= link_to('Settings', edit_admin_configuration_path) %>
					<%= link_to('Users', admin_users_path)  %>	
				<% end %>
				
				<%=link_to 'Logout', destroy_user_session_path %>
			</div>

			<div class="breadcrumbs">
				<%= render_crumbs %>
			</div>
		<%end%>
		<div class="messages">
			<% flash.each_pair do |flash_type, message|%>
			<div class="<%=flash_type%>">
				<%= message %>
			</div>
			<%end%>
		</div>

		<div class="content">
			<%= yield %>
		</div>

	</body>
</html>
